---
// Si tu déplaces le dossier dans src/styles, ce chemin sera le bon :
import '../styles/global.css';

interface Props {
	title?: string; // Le '?' évite l'erreur si le titre est vide
}

const { title = "Kinezi" } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700;900&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-[#FFFFFF]">
		<slot /> </body>
</html>